[Unit]
Description=NanoOS Session
Requires=nano-compositor.service
After=nano-compositor.service
AllowIsolate=yes

[Install]
WantedBy=graphical.target
