[Unit]
Description=PipeWire Multimedia Service
After=nano-compositor.service
Requires=dbus.service

[Service]
Type=simple
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStart=/usr/bin/pipewire
Restart=on-failure
RestartSec=2

[Install]
WantedBy=nano-session.target
